[submodule "lib/bme680"]
	path = lib/bme680
	url = https://github.com/tstellanova/Adafruit_BME680 
[submodule "lib/ada_busio/src"]
	path = lib/ada_busio/src
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "lib/ada_sensor/src"]
	path = lib/ada_sensor/src
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "lib/Adafruit_SH110x"]
	path = lib/Adafruit_SH110x
	url = https://github.com/tstellanova/Adafruit_SH110x
[submodule "lib/pmiSensor"]
	path = lib/pmiSensor
	url = https://github.com/tstellanova/Adafruit_PM25AQI
[submodule "lib/AdafruitDataLoggerRK"]
	path = lib/AdafruitDataLoggerRK
	url = https://github.com/rickkas7/AdafruitDataLoggerRK
[submodule "lib/Adafruit_RTClib_RK"]
	path = lib/Adafruit_RTClib_RK
	url = https://github.com/rickkas7/Adafruit_RTClib_RK
[submodule "lib/SdCardLogHandlerRK"]
	path = lib/SdCardLogHandlerRK
	url = https://github.com/rickkas7/SdCardLogHandlerRK
