[submodule "lib/Grove_ChainableLED"]
	path = lib/Grove_ChainableLED
	url = https://github.com/Seeed-Studio/Grove_ChainableLED
[submodule "lib/bme680"]
	path = lib/bme680
	url = https://github.com/tstellanova/Adafruit_BME680 
[submodule "lib/ada_busio/src"]
	path = lib/ada_busio/src
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "lib/ada_sensor/src"]
	path = lib/ada_sensor/src
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "lib/Adafruit_SH110x"]
	path = lib/Adafruit_SH110x
	url = https://github.com/tstellanova/Adafruit_SH110x
[submodule "lib/pmiSensor"]
	path = lib/pmiSensor
	url = https://github.com/tstellanova/Adafruit_PM25AQI
