[submodule "lib/Ubidots"]
	path = lib/Ubidots
	url = https://github.com/ubidots/ubidots-particle
[submodule "lib/Grove_ChainableLED"]
	path = lib/Grove_ChainableLED
	url = https://github.com/Seeed-Studio/Grove_ChainableLED
[submodule "lib/bme280"]
	path = lib/bme280
	url = https://github.com/mhaack/Adafruit_BME280_Library
[submodule "lib/grove_aq"]
	path = lib/grove_aq
	url = https://github.com/bsatrom/Grove_Air_quality_Sensor
[submodule "lib/veml6070"]
	path = lib/veml6070
	url = https://github.com/tstellanova/Adafruit_VEML6070
[submodule "lib/bme680"]
	path = lib/bme680
	url = https://github.com/adafruit/Adafruit_BME680
[submodule "lib/pm25aqi"]
	path = lib/pm25aqi
	url = https://github.com/adafruit/Adafruit_PM25AQI
